@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor _httpContext

<ul class="navbar-nav">
    @if (!string.IsNullOrWhiteSpace(_httpContext.HttpContext.Session.GetString("JwtToken")))
{
    <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-controller="Login" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Login">Login</a>
    </li>
}
</ul>
